{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Books {% endblock %}</h1>
    {% for book in books %}
        <div class='book'>
            <h3>#{{ book[0] }} - {{ book[1] }} BY {{ book[2] }}</h3>
            <i><p>({{ book[3] }} pages)</p></i>
            <p class='review'>{{ book[4] }}</p>
            <i><p>Added {{ book[5] }}</p></i>

            <form action="{{ url_for('delete', id=book[0]) }}" method="POST">
                <input type="submit" value="Eliminar" 
                       onclick="return confirm('¿Seguro que quieres eliminar este libro?')">
            </form>
        </div>
    {% else %}
        <p>No hay libros registrados en la base de datos.</p>
    {% endfor %}

{% endblock %}